body {
	background: #FFFFFF;
}



.my-navbar    {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;



 

    }
.cadre {
  background: #dfe6e9;
  border: 3px solid #b2bec3;
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 5px;
  }
 
.frame {
border: 5px solid black ;
margin: 120px;
padding: 20px;
box-shadow: 10px 10px grey
}
body {background: white; text-align: center; }
ul    {text-align: left; }



.item {
    display: flex;
    justify-content: flex-end;
    }


.item {
    margin: 10px 30px;
    color: #FFFFFF;
    font-family: courrier
    }

 

.item {
    color: #FFFFFF;
    font-family: courrier
    }


.Bouton {
    
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: solid 1px;
    border-radius: 4px;
    padding: 10px 30px;
    background-color: #c23616
    }


.


.line-transparent {
  background: black;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-transparent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-light {
  height: 5px;
  width: 20%;
  background: #EE9CA7;
}

.line-medium {
  height: 5px;
  width: 30%;
  background: #eb2f06;
}

.line-hard {
  height: 5px;
  width: 50%;
  background: #e55039;
}
 



.menu{ display: flex;}

.logo-coca 	<img src="https://img.icons8.com/color/48/ffffff/coca-cola.png"/>




